{% load static %}
<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url({% static 'website/images/bg_1.png' %});">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h1 class="big">About</h1>
                        <h2 class="mb-4">About Me</h2>
                        <p>15+ years of professional experience in the software industry. Skilled in WordPress, Shopify, HTML, and CSS and want to get into <strong>Python Django Web Development</strong>.</p>
                        <ul class="about-info mt-4 px-md-0 px-2">
                            <li class="d-flex"><span>Name:</span> <span>Omkar N Hatalkar</span></li>
                            <li class="d-flex"><span>Date of birth:</span> <span>October 01, 1985</span></li>
                            <li class="d-flex"><span>Address:</span> <span>150, Lieutenant Dilip Gupte Road, Mumbai</span></li>
                            <li class="d-flex"><span>Zip code:</span> <span>400016</span></li>
                            <li class="d-flex"><span>Email:</span> <span><a href="mailto:omkarh@gmail.com" title="">omkarh@gmail.com</a></span></li>
                            <li class="d-flex"><span>Phone: </span> <span><a href="tel:+919820805873" title="">+91 9820 805 873</a></span></li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap ftco-animate d-flex mt-md-3">
                    <div class="text">
                        <p class="mb-4">
                            <span class="number" data-number="100">0</span>
                            <span>Project complete</span>
                        </p>
                        <p><a href="#" class="btn btn-primary py-3 px-3">Download CV</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>