{% load static %}
<section class="ftco-section ftco-no-pb" id="resume-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-10 heading-section text-center ftco-animate">
        <h1 class="big big-2">Resume</h1>
        <h2 class="mb-4">Resume</h2>
        <p>15+ years of professional experience in the software industry.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="resume-wrap ftco-animate">
          <span class="date">2021-Present</span>
          <h2>Head Backend Developer</h2>
          <span class="position">Smaint Solutions LLP</span>
          <p class="mt-4">
            Backend API development. Javascript NestJS TypeScript Prisma NodeJs
          </p>
        </div>
        <div class="resume-wrap ftco-animate">
          <span class="date">2020-2021</span>
          <h2>Freelance Web Developer</h2>
          <!-- <span class="position">Cambridge University</span> -->
          <p class="mt-4">
            Development of websites on Shopify and Wordpress. Python Django
            Learning / Practice
          </p>
        </div>
        <div class="resume-wrap ftco-animate">
          <span class="date">2017-2020</span>
          <h2>Head of Web Development and IT</h2>
          <span class="position">Five Stones Media House</span>
          <p class="mt-4">
            50+ websites created using Wordpress with full stack development
            starting from development to deployment and maintenance
          </p>
        </div>
        <div class="resume-wrap ftco-animate">
          <span class="date">2016-2017</span>
          <h2>Freelance Web Developer</h2>
          <!-- <span class="position">Right Turn (startup for SFO, California)</span> -->
          <p class="mt-4">Developed Shopify websites for freelance clients</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="resume-wrap ftco-animate">
          <span class="date">2015-2016</span>
          <h2>Developer</h2>
          <span class="position">Right Turn (startup for SFO, California)</span>
          <p class="mt-4">
            Worked remotely developing a web application for shopify.com
          </p>
        </div>
        <div class="resume-wrap ftco-animate">
          <span class="date">2008-2015</span>
          <h2>Senior Media Developer</h2>
          <span class="position"
            >LRN Technologies & content solutions India Private Limited</span
          >
          <p class="mt-4">
            Convert design templates or mocks into web pages that are
            responsive, semantic, scalable using HTML5 standards
          </p>
        </div>
        <div class="resume-wrap ftco-animate">
          <span class="date">2005-2008</span>
          <h2>Media Developer</h2>
          <span class="position">FUEL IT (India) Private Ltd</span>
          <p class="mt-4">
            Write Action script 2.0 and 3.0 for components and utilities like
            Search, Notes, Print, Slider etc. and custom classes for activities
            like MCQ’s, Drag&Drop, Click to Reveal etc. and XML Integration
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-6 text-center ftco-animate">
        <p>
          <a
            href="{% static 'website/pdf/OMKAR_HATALKAR_CV.pdf' %}"
            target="_blank"
            class="btn btn-primary py-3 px-4"
            >Download CV</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
