{% load static %}
<section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2">Resume</h1>
                <h2 class="mb-4">Resume</h2>
                <p>15+ years of professional experience in the software industry.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="resume-wrap ftco-animate">
                    <span class="date">2020-2021</span>
                    <h2>Wordpress & Shopify Freelance Developer</h2>
                    <!-- <span class="position">Cambridge University</span> -->
                    <p class="mt-4">Development to deployment and maintenance as well.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2017-2020</span>
                    <h2>Head of Web Development and IT</h2>
                    <span class="position">Five Stones Media House</span>
                    <p class="mt-4">75+ websites created using Wordpress with full stack development starting from From development to deployment and maintenance as well.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2015-2016</span>
                    <h2>UI/UX Developer</h2>
                    <span class="position">Right Turn (startup for SFO, California)</span>
                    <p class="mt-4">Worked remotely developing Shopify web application for shopify.com in MEAN (MongoDB, express, AngularJS and Node JS) full stack JavaScript framework and front end in HTML5, CSS.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="resume-wrap ftco-animate">
                    <span class="date">2015-2016</span>
                    <h2>Art &amp; Lead Developer</h2>
                    <span class="position">Showroomr.com (startup for SFO, California)</span>
                    <p class="mt-4">Progressive enhancement and update the site using mobile first approach and adding more features and content.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2008-2015</span>
                    <h2>Senior Media Developer</h2>
                    <span class="position">LRN Technologies & content solutions India Private Limited</span>
                    <p class="mt-4">Convert design templates/mocks into responsive web pages using HTML5 standards. Write JavaScript or use existing code/libraries to make the web product interactive and engaging. Develop CD based experiential learning courses having full screen video letterbox display using flash action script 2.0. Develop a gamification course in HTML5, JavaScript, jQuery and CSS which are cross browser and iPad compatible.</p>
                </div>
                <div class="resume-wrap ftco-animate">
                    <span class="date">2005-2008</span>
                    <h2>Media Developer</h2>
                    <span class="position">FUEL IT (India) Private Ltd</span>
                    <p class="mt-4">Write Action script 2.0 and 3.0 for components and utilities like Search, Notes, Print, Slider etc. and custom classes for activities like MCQ’s, Drag&Drop, Click to Reveal etc. and XML Integration.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center ftco-animate">
                <p><a href="#" class="btn btn-primary py-4 px-5">Download CV</a></p>
            </div>
        </div>
    </div>
</section>