{% load static %}
<section class="ftco-section" id="services-section">
    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Services</h1>
                <h2 class="mb-4">Services</h2>
                <p>I provide services like <strong>Python Django Web Development</strong>, <strong>WordPress</strong> and <strong>Shopify</strong> Websites Development according to your requirements. I've strong communication skills and I've a great past experience with my American and European clients.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center d-flex ftco-animate">
                <c class="services-1">
                    <span class="icon mt-4">
                        <!-- <i class="flaticon-analysis"></i> -->
                        <img src="{% static 'website/images/python_onh.png' %}" alt="">
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Python Django</h3>
                    </div>
                </span>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <span class="services-1">
                    <span class="icon mt-4">
                        <!-- <i class="flaticon-flasks"></i> -->
                        <img src="{% static 'website/images/wordpress_onh.png' %}" alt="">
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Wordpress</h3>
                    </div>
                </span>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <span class="services-1">
                    <span class="icon mt-4">
                        <!-- <i class="flaticon-ideas"></i> -->
                        <img src="{% static 'website/images/shopify_onh.png' %}" alt="">
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Shopify</h3>
                    </div>
                </span>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <span class="services-1">
                    <span class="icon mt-4">
                        <!-- <i class="flaticon-analysis"></i> -->
                        <img src="{% static 'website/images/server_onh.png' %}" alt="">
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Domain, Hosting and SSL</h3>
                    </div>
                </span>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <span class="services-1">
                    <span class="icon mt-4">
                        <!-- <i class="flaticon-flasks"></i> -->
                        <img src="{% static 'website/images/css_onh.png' %}" alt="">
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">CSS</h3>
                    </div>
                </span>
            </div>
            <div class="col-md-4 text-center d-flex ftco-animate">
                <span class="services-1">
                    <span class="icon mt-4">
                        <!-- <i class="flaticon-ideas"></i> -->
                        <img src="{% static 'website/images/website_onh.png' %}" alt="">
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">Website Maintenance</h3>
                    </div>
                </span>
            </div>
        </div>
    </div>
</section>