{% load static %}
<section id="home-section" class="hero">
    <div class="home-slider  owl-carousel">
        <div class="slider-item ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url({% static 'website/images/om2.png' %}); filter: opacity(0.2);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex  align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">I'm <span>Omkar</span></h1>
                            <h2 class="mb-4">A Full Stack Web Developer</h2>
                            <p>
                                <a href="{% static 'website/pdf/OMKAR_HATALKAR_CV.pdf' %}" target="_blank" class="btn btn-primary py-3 px-4">Download CV</a>
                                <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">My works</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container">
                <div class="row d-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
                    <div class="one-third js-fullheight order-md-last img" style="background-image:url({% static 'website/images/om3.png' %}); height: 100%; filter: opacity(0.2);">
                        <div class="overlay"></div>
                    </div>
                    <div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <div class="text">
                            <span class="subheading">Hello!</span>
                            <h1 class="mb-4 mt-3">I'm a <span>Web Developer</span> </h1>                       
                            <h2 class="mb-4">based in Mumbai (India)</h2>
                            <p>
                                <a href="{% static 'website/pdf/OMKAR_HATALKAR_CV.pdf' %}" target="_blank" class="btn btn-primary py-3 px-4">Download CV</a>
                                <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">My works</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>